*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    margin: 0;
    padding: 20px;
}
.main{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;   
}
.main h1{
    text-align: center;
    color: white;
}
.input-content{
   width: 100%;
   max-width: 450px;
   background-color: aliceblue;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}